<% content_for :content do %>
  <div class="jumbotron">
    <div class="container">
      <h3>
        Your shortener url is
      </h3>
      <p>
        <%= @short_url %>
      </p>

    </div>
  </div>
<% end %>




